.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main textarea {
    width: 400px;
    height: 200px;
    resize: none;
    padding: 5px;
}

.inputActions {
    margin-top: 10px;
}

.container {
    display: flex;
}

.preview {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.previewSkeleton {
    background-color: gray;
    width: 200px;
    height: 200px;
}

.previewActions {
    margin-top: 10px;
}

.menu {
    background-color: darkslategray;
    color: white;
}
